@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  background-color: #000;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

#app {
  width: 600px;
  margin: 0 auto;
}

#header {
  text-align: center;
}

#button {
  background-color: #2ebd59;
  width: 300px;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 25px;
}

#button:hover {
  background-color: #42c369;
  cursor: pointer;
}

.list-group {
  margin-top: 25px;
}

.list-group-item:first-child {
  background-color: #000;
  border-width: 0;
}

.list-group-item {
  background-color: #000;
  border-width: 1px 0 0 0;
  border-color: #919496;
}
