@import url(https://fonts.googleapis.com/css?family=Varela+Round);

$dark-green: #2ebd59;
$light-green: #42c369;
$light-grey: #333;
$dark-grey: #919496;

body {
  background-color: #000;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

#app {
  width: 600px;
  margin: 25px auto 0 auto;
}

#header {
  text-align: center;
}

#button {
  background-color: $dark-green;
  width: 300px;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 25px;

  &:hover {
    background-color: $light-green;
    cursor: pointer;
  }
}

#button.disabled {
  opacity: 0.5;

  &:hover {
    background-color: $dark-green;
    cursor: default;
  }
}

.list-group {
  border-radius: 0;

  .excited {
    color: #ffcf3c;
  }

  .happy {
    color: #ffff48;
  }

  .chilled {
    color: #3cff3c;
  }

  .peaceful {
    color: #06ffff;
  }

  .bored {
    color: #1289ff;
  }

  .depressed {
    color: #cf3cff;
  }

  .stressed {
    color: #ff0cc3;
  }

  .aggressive {
    color: #ff0c4a;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #000;
  border-color: #000;
  color: #fff;
  margin-top: 20px;

  .btn-default {
    background-color: #000;
    border-color: #fff;
    color: #fff;
    // border-radius: 20px;
  }

  .container-fluid {
    text-align: center;
    line-height: 33px;
  }
}

.list-group-item {
  background-color: #000;
  border-width: 1px 0 0 0;
  border-color: $dark-grey;
  cursor: pointer;

  &:first-child {
    background-color: #000;
    border-width: 0;
    border-radius: 0;
  }

  &:last-child {
    border-radius: 0;
  }

  .glyphicon {
    display: inline-block;
    font-size: 1.5em;
    top: -5px;
    margin-right: 25px;
  }

  .title {
    display: inline-block;
    width: 200px;
    font-weight: bold;
  }

  &:hover {
    background-color: $light-grey;
  }
}
