<div id="app">
  <div id="header">
    <%= image_tag 'spotify.png', width: '150' %>
    <h1>Moodify</h1>
    <div id="button">Login</div>
    <!-- <%= link_to 'Sign in with Spotify', '/auth/spotify' %> -->
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div>Cras justo odio</div>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      Dapibus ac facilisis in
    </li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
