<div id="app"></div>

<script type="text/babel">
  var App = React.createClass({
    getInitialState: function() {
      gon.playlists.forEach(function(playlist) {
        playlist.selected = true;
      });

      return { data: gon.playlists };
    },

    handleListClick: function(index) {
      var data = this.state.data;

      if (data[index].selected === true) {
        data[index].selected = false;
      } else {
        data[index].selected = true;
      }

      this.setState({ data: data });
    },

    render: function() {
      return (
        <div>
          <Header
            data={this.state.data}/>
          <List
            data={this.state.data}
            onClick={this.handleListClick} />
        </div>
      );
    }
  });

  var Header = React.createClass({
    getInitialState: function() {
      return {
        showProgress: false,
        totalSongs: 0
      };
    },

    handleButtonClick: function(e) {
      if (this.props.data.length === 0) {
        window.location.href = '/auth/spotify';
      } else if (this.state.showProgress === false){
        var songCount = 0;
        this.props.data.forEach(function(playlist) {
          if (playlist.selected === true) {
            songCount += playlist.total;
          }
        });

        this.setState({
          showProgress: true,
          songsAnalyzed: 0,
          totalSongs: songCount
        });

        this.analyzePlaylists();
        this.pollStatus();
      }
    },

    analyzePlaylists: function() {
      $.ajax(
         {
           type: "POST",
           url: '/analyze',
           beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
           data: JSON.stringify(gon.playlists),
           dataType: "json",
           contentType: 'application/json'
         }
       );
    },

    pollStatus: function() {
      setTimeout(this._pollStatus, 1000);
    },

    _pollStatus: function() {
      $.get('/status', function(data) {
        var count = 0;

        for (var key in data) {
          count += data[key].length;
        }

        this.setState({ songsAnalyzed: count });
        if (this.state.songsAnalyzed < this.state.totalSongs) {
          this.pollStatus();
        }
      }.bind(this));
    },

    render: function() {
      var label = 'Login';
      var className = '';

      if (this.state.showProgress === true) {
        var word = this.state.totalSongs === 1 ? 'song' : 'songs';
        className = 'disabled';
        label = 'Analyzed ' + this.state.songsAnalyzed + ' of ' + this.state.totalSongs + ' ' + word;
      } else if (this.props.data.length > 0) {
        label = 'Analyze Music Now';
      }

      return (
        <div id="header">
          <%= image_tag 'spotify.png', width: '150' %>
          <h1>Moodify</h1>
          <div id="button"
                className={className}
                onClick={this.handleButtonClick}>
                {label}
          </div>
        </div>
      )
    }
  });

  var List = React.createClass({
    render: function() {
      var items = [];
      for (var i = 0; i < this.props.data.length; i++) {
        var boundClick = this.props.onClick.bind(null, i);

        items.push(<ListItem
                    key={i}
                    data={this.props.data[i]}
                    onClick={boundClick}/>);
      }

      return (
        <ul className="list-group">
          {items}
        </ul>
      )
    }
  });

  var ListItem = React.createClass({
    render: function() {
      var word = this.props.data.total === 1 ? 'track' : 'tracks';
      var icon = 'glyphicon';

      if (this.props.data.selected === true) {
        icon += ' glyphicon-ok-circle';
      } else {
        icon += ' glyphicon-remove-circle';
      }

      return (
        <li className="list-group-item"
          key={this.props.key}
          onClick={this.props.onClick}>
          <div className={icon} aria-hidden="true"></div>
          <div className="title">
            {this.props.data.name}<br />
            {this.props.data.total} {word}
          </div>
        </li>
      )
    }
  })

  ReactDOM.render(
    <App />,
    document.getElementById('app')
  );
</script>
