<div id="app">
  <div id="header">
    <%= image_tag 'spotify.png', width: '150' %>
    <h1>Moodify</h1>
    <div id="button">Login</div>
    <!-- <%= link_to 'Sign in with Spotify', '/auth/spotify' %> -->
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="glyphicon glyphicon-remove-circle" aria-hidden="true"></div>
      Unselected
    </li>
    <li class="list-group-item">
      <div class="glyphicon glyphicon-ok-circle" aria-hidden="true"></div>
      Selected
    </li>
    <li class="list-group-item">
      <div class="glyphicon glyphicon-remove-circle" aria-hidden="true"></div>
      Unselected
    </li>
    <li class="list-group-item">
      <div class="glyphicon glyphicon-ok-circle" aria-hidden="true"></div>
      Selected
    </li>
  </ul>
</div>
